# Streamlit
.streamlit/secrets.toml

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# Environments
.env
.venv/
env/
venv/
ENV/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Build / Logs
logs/
*.log